{{!< default}}

{{> material-cover}}

<div class="page page-index container-wrapper">
  <ol class="posts">
    {{#get "posts" limit="all" include="author,tags" filter="tags:project"}}
      {{#foreach posts}}
        {{> post-list-item }}
      {{/foreach}}
    {{/get}}
  </ol>
</div>
